@import "~@sourceface/style/index.scss";

.root {
  display: inline-flex;
  align-items: center;
  font-size: $font-size-xs;
  padding: 0 $value-1;
  height: $value-4;
  &.rounded {
    border-radius: $rounded-full;
  }
  &.squared {
    border-radius: $rounded-base;
  }
  &.dark {
    background-color: $color-gray-shade-80;
    color: $color-white;
  }
  &.light {
    background-color: $color-gray-tint-90;
    color: $color-gray-shade-70;
  }
}
