@import "@sourceface/style/index.css";

.root {
  display: inline-flex;
  align-items: center;
  font-size: var(--font-size-xs);
  padding: 0 var(--value-1);
  height: var(--value-4);
  &.rounded {
    border-radius: var(--rounded-full);
  }
  &.squared {
    border-radius: var(--rounded-base);
  }
  &.dark {
    background-color: var(--color-gray-shade-80);
    color: var(--color-white);
  }
  &.light {
    background-color: var(--color-gray-tint-90);
    color: var(--color-gray-shade-70);
  }
}
