@import "~@sourceface/style/index.scss";

.more {
  margin-left: auto;
  & svg {
    width: $value-4;
  }
}

.invitation {
  display: flex;
  align-items: center;
}

.pagination {
  margin-top: $value-8;
}

.date {
  font-size: $font-size-xs;
  color: $color-gray-shade-20;
  margin-left: $value-3;
}
