@import "@sourceface/style/index.css";

/* TODO: add sizes */

.title {
  font-weight: 700;
  display: flex;
  align-items: center;
  color: var(--color-gray-shade-100);
  margin-bottom: var(--value-2);
  font-size: var(--font-size-sm);
}

.helper {
  display: block;
  margin-top: var(--value-1);
  color: var(--color-gray);
  font-size: var(--font-size-xs);
}

.optional {
  font-weight: 400;
  color: var(--color-gray);
  font-size: var(--font-size-xs);
  margin-left: var(--value-1);
}
