@use "@sourceface/style/index.css";

/* TODO: add sizes */

.title {
  font-weight: 700;
  display: flex;
  align-items: center;
  color: $color-gray-shade-100;
  margin-bottom: $value-2;
  font-size: $font-size-sm;
}

.helper {
  display: block;
  margin-top: $value-1;
  color: $color-gray;
  font-size: $font-size-xs;
}

.optional {
  font-weight: 400;
  color: $color-gray;
  font-size: $font-size-xs;
  margin-left: $value-1;
}
