@import "~@sourceface/style/index.scss";

.data {
  display: flex;
  cursor: pointer;
  font-family: "monospace";
  border-radius: $rounded-sm;
  background-color: $color-gray-300;
  font-size: $font-size-xs;
  &:hover {
    background-color: $color-gray-400;
    .definition {
      background-color: $color-blue-400;
    }
  }
}

.key {
  padding: $value-1 $value-2;
}

.definition {
  border-radius: $rounded-sm;
  padding: $value-1 $value-2;
  background-color: $color-blue-300;
}
