@import "@sourceface/style/index.css";

.heading {
  font-weight: 600;
}

.head,
.row {
  border-bottom: 1px solid var(--color-gray-tint-50);
}

.head {
  padding-bottom: var(--value-4);
}

.body + .head {
  padding-top: var(--value-4);
  margin-top: var(--value-4);
  border-top: 1px solid var(--color-gray-tint-50);
}

.row {
  padding: var(--value-4) 0;
  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.head,
.heading,
.row,
.cell {
  display: flex;
  align-items: center;
}

/* TODO: replace by grids */
.heading,
.cell {
  flex: 1;
  &.align-left {
    justify-content: flex-start;
  }
  &.align-center {
    justify-content: center;
  }
  &.align-right {
    justify-content: flex-end;
  }
}

.heading + .heading,
.cell + .cell {
  padding-left: var(--value-4);
}
