@import "@sourceface/style/index.css";

.root {
}

.head,
.row {
  border-bottom: 1px solid var(--color-gray-tint-50);
  display: flex;
}

.heading {
  font-weight: 600;
}

.head {
  padding-bottom: var(--value-4);
}

.row + .head {
  padding-top: var(--value-4);
}

.row {
  padding: var(--value-4) 0;
  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.heading,
.cell {
  display: flex;
  align-items: center;
}

.heading,
.cell {
  &.align-left {
    justify-content: flex-start;
  }
  &.align-center {
    justify-content: center;
  }
  &.align-right {
    justify-content: flex-end;
  }
}

/* .heading + .heading, */
/* .cell + .cell { */
/*   padding-left: var(--value-4); */
/* } */
