@import "~@sourceface/style/index.scss";

.pipe {
  position: relative;
  margin-bottom: $value-2;
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    .floating {
      opacity: 1;
    }
  }
}

.input {
  width: 100%;
  border: 0;
  background-color: $color-gray-200;
  padding: $value-1 $value-2;
  border-radius: $rounded-sm;
  border: 1px solid $color-gray-500;
}

.floating {
  top: 0;
  bottom: 0;
  opacity: 0;
  margin: auto 0;
  position: absolute;
  display: flex;
  align-items: center;
  right: $value-2;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: $value-2;
  width: $value-4;
  height: $value-4;
  border-radius: $rounded-sm;
  background: $color-gray-300;
  border: 1px solid $color-gray-400;
  &:hover {
    background: $color-gray-400;
  }
}
