@import "@sourceface/style/index.css";

.root {
  display: flex;
  flex-direction: column;
  margin: calc(var(--value-4) * -1);
  font-size: var(--font-size-sm);
}

.head {
  display: flex;
  border-bottom: 1px solid var(--color-gray-tint-30);
}

.body {
  padding: var(--value-3);
}

.item {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 0;
  border-top-left-radius: var(--rounded-base);
  border-top-right-radius: var(--rounded-base);
  background: none;
  margin-bottom: -1px;
  padding: 0 var(--value-3);
  height: var(--value-10);
  color: var(--color-gray-shade-80);
  &:hover {
  }
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 3px var(--color-gray-tint-120);
  }
  &.selected {
    border-bottom: 2px solid var(--color-gray-shade-80);
  }
}

.icon-before,
.icon-after {
  width: var(--value-3);
}

.icon-before {
  margin-right: var(--value-1);
}

.icon-after {
  margin-left: var(--value-1);
}
