@import "~@sourceface/style/index.scss";

.root {
  border-radius: $rounded-sm;
  border: 1px solid $color-gray-400;
  background-color: $color-white;
}

.primary {
  &:hover .deleteIcon {
    opacity: 1;
  }
}

.head {
  display: flex;
  align-items: center;
  padding: $value-1 $value-2 0;
}

.deleteIcon {
  margin-left: auto;
  cursor: pointer;
  opacity: 0;
}

.deleteIcon {
  width: $value-3;
  height: $value-3;
}

.name {
  border: 0;
  padding: 0;
  font-size: $font-size-xs;
  color: $color-gray-900;
  &:focus {
    outline: 0;
  }
}

.text {
  display: inline-flex;
  font-weight: 600;
}

.body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 $value-1 $value-1;
  > *:not(.body) {
    margin: $value-1;
  }
  &:hover .add {
    opacity: 1;
  }
}

.show {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 0.5rem;
  margin-top: $value-1;
  background-color: $color-gray-100;
  border-top: 1px solid $color-gray-400;
  border-bottom-left-radius: $rounded-sm;
  border-bottom-right-radius: $rounded-sm;
  &:hover .bottomIcon {
    opacity: 1;
  }
}

.expanded {
  position: relative;
  border-top: 1px solid $color-gray-400;
  padding: $value-1 $value-2;
  &:hover .topIcon {
    opacity: 1;
  }
}

.topIcon,
.bottomIcon {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  border: 1px solid $color-gray-400;
  background-color: $color-gray-100;
  border-radius: $rounded-sm;
  padding: $value-1;
  bottom: $value-2;
  right: $value-2;
  width: $value-6;
  height: $value-6;
}

.add {
  opacity: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: $value-4;
  height: $value-4;
  border-radius: $rounded-sm;
  background: $color-gray-300;
  border: 1px solid $color-gray-400;
  &:hover {
    background: $color-gray-400;
  }
}
