@import "~@sourceface/style/index.scss";

.action:not(:last-child):after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 1px;
  height: $value-2;
  background-color: $color-gray-400;
}

.add {
  margin-top: $value-2;
}

.link {
  user-select: none;
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  border-radius: $rounded-sm;
  border: 1px solid $color-gray-400;
  background-color: $color-gray-100;
  padding: $value-1 $value-2;
  &.opened {
    background-color: $color-gray-300;
  }
}

.stateIcon {
  width: $value-3;
  height: $value-3;
  margin-left: auto;
}

.list {
  margin-top: $value-2;
}
