@import "~@sourceface/style/index.scss";

.action:not(:last-child):after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 1px;
  height: $value-2;
  background-color: $color-gray-400;
}

.list {
  .add {
    opacity: 0;
  }
  &:hover .add {
    opacity: 1;
  }
}

.box {
  display: flex;
  align-items: center;
  &.populated {
    margin-bottom: $value-1;
  }
}

.label {
  font-weight: 600;
  color: $color-gray-900;
}

.add {
  margin-left: auto;
}
