@import "~@sourceface/style/index.scss";

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: $shadow-base;
  &.light {
    background-color: $color-white;
    &.active {
      background-color: $color-gray-tint-100;
    }
    .icon {
      fill: $color-gray-shade-80;
    }
  }
  &.dark {
    background-color: $color-gray-shade-100;
    &.active {
      background-color: $color-gray-shade-110;
    }
    .icon {
      fill: $color-gray-tint-40;
    }
  }
  &.compact {
    width: $value-12;
    height: $value-12;
    .icon {
      width: $value-6;
      height: $value-6;
    }
  }
  &.normal {
    width: $value-4 + $value-10;
    height: $value-4 + $value-10;
    .icon {
      width: $value-8;
      height: $value-8;
    }
  }
  &.loose {
    width: $value-16;
    height: $value-16;
    .icon {
      width: $value-10;
      height: $value-10;
    }
  }
}
