@import "~@sourceface/style/index.scss";

.root {
  font-family: "monospace";
  display: inline-flex;
  align-items: center;
  font-size: $font-size-xs;
  border-radius: $rounded-sm;
  padding: $value-1 $value-2;
  input {
    border: 0;
    padding: 0;
    outline: none;
    background-color: transparent;
  }
}

.blue {
  background-color: $color-blue-300;
  color: $color-blue-900;
}

.gray {
  background-color: $color-gray-300;
  color: $color-gray-900;
}

.beige {
  background-color: beige;
  color: $color-gray-900;
}
