@import "~@sourceface/style/index.scss";

.label {
  display: block;
  margin-bottom: $value-4;
}

.submit {
  margin-top: $value-5;
}

.terms {
  text-align: center;
  font-size: $font-size-sm;
  margin: $value-4 $value-1 0;
  color: $color-gray-shade-80;
}

.terms-link {
  margin: 0 $value-1;
  color: $color-gray-shade-80;
}
