@import "@sourceface/style/index.css";

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--value-6);
}

.search {
  fill: var(--color-gray-shade-80);
}

.email,
.group {
  margin-left: var(--value-4);
}

.more {
  & svg {
    width: var(--value-4);
  }
}

.user {
  display: flex;
  align-items: center;
}

.pagination {
  margin-top: var(--value-4);
  padding-top: var(--value-8);
  border-top: 1px solid var(--color-gray-tint-50);
}

.privileged {
  margin-left: var(--value-2);
}

.groups-select,
.new-password {
  margin-top: var(--value-2);
}
