@import "@sourceface/style/index.css";

.wrap {
  padding: var(--value-4);
}

.header {
  display: flex;
  margin-bottom: var(--value-6);
}

.search {
  fill: var(--color-gray-shade-80);
}

.invite-form {
  margin-left: auto;
}

.tabs {
  margin-bottom: var(--value-4);
}

.email,
.role {
  margin-left: var(--value-4);
}

.more {
  margin-left: auto;
  & svg {
    width: var(--value-4);
  }
}

.user {
  display: flex;
  align-items: center;
}

.pagination {
  margin-top: var(--value-8);
}

.privileged {
  margin-left: var(--value-2);
}

.role-select {
  margin-top: var(--value-1);
}
