@import "~@sourceface/style/index.scss";

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: $value-6;
}

.search {
  fill: $color-gray-shade-80;
}

.email,
.group {
  margin-left: $value-4;
}

.more {
  & svg {
    width: $value-4;
  }
}

.user {
  display: flex;
  align-items: center;
}

.pagination {
  margin-top: $value-4;
  padding-top: $value-8;
  border-top: 1px solid $color-gray-tint-50;
}

.privileged {
  margin-left: $value-2;
}

.groups-select,
.new-password {
  margin-top: $value-2;
}
