@import "@sourceface/style/index.css";

.wrap {
  padding: 200px;
}

.header {
  display: flex;
  margin-bottom: var(--value-6);
}

.search {
  fill: var(--color-gray-shade-80);
}

.invite-form {
  margin-left: auto;
}

.tabs {
  margin-bottom: var(--value-4);
}

.email,
.role {
  margin-left: var(--value-4);
}

.more {
  margin-left: auto;
  & svg {
    width: var(--value-4);
    /* fill: var(--color-gray); */
  }
}

.user {
  display: flex;
  align-items: center;
}
