@import "@sourceface/style/index.css";

.root {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  font-size: $font-size-sm;
}

.item {
  user-select: none;
  &:first-child .link {
    border-top-left-radius: $rounded-base;
    border-bottom-left-radius: $rounded-base;
  }
  &:last-child .link {
    border-top-right-radius: $rounded-base;
    border-bottom-right-radius: $rounded-base;
  }
}

.link {
  display: flex;
  align-items: center;
  margin-right: -1px;
  text-decoration: none;
  font-weight: 600;
  height: $value-8;
  padding-left: $value-3;
  padding-right: $value-3;
  background-color: $color-white;
  color: $color-gray-shade-60;
  border: 1px solid $color-gray-tint-50;
  &.selected {
    background-color: $color-gray-shade-80;
    border-color: $color-gray-shade-80;
    color: $color-white;
  }
  &.disabled {
    cursor: not-allowed;
    background-color: $color-gray-tint-120;
    color: $color-gray-shade-10;
  }
  &:hover:not(.selected, .disabled) {
    background-color: $color-gray-tint-130;
  }
  &:active:not(.selected, .disabled) {
    background-color: $color-gray-tint-120;
  }
  &:focus:not(.disabled) {
    position: relative;
    box-shadow: 0 0 0 3px $color-gray-tint-120;
  }
  &:focus {
    outline: none;
  }
}
