@import "~@sourceface/style/index.scss";

.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  padding: var(--value-4);
}

.title {
  display: block;
  font-weight: 600;
  margin: 0 0 var(--value-1);
  font-size: var(--font-size-2xl);
  color: var(--color-gray-shade-110);
}

.description {
  display: block;
  font-size: var(--font-size-sm);
  margin: 0 0 var(--value-6);
  color: var(--color-gray-shade-50);
}

.copyright {
  margin-top: auto;
  text-align: center;
  font-weight: 700;
  padding-top: var(--value-4);
  font-size: var(--font-size-xs);
}

/* .root { */
/*   min-height: 100vh; */
/*   display: flex; */
/*   align-items: center; */
/*   justify-content: center; */
/*   position: relative; */
/* } */

/* .container { */
/*   display: flex; */
/*   flex-direction: column; */
/*   width: 100%; */
/*   max-width: var(--size-lg); */
/*   margin: var(--value-4) var(--value-4) var(--value-16); */
/* } */

/* .copyright { */
/*   margin-top: auto; */
/*   position: absolute; */
/*   width: 100%; */
/*   bottom: 0; */
/*   left: 0; */
/*   text-align: center; */
/*   font-weight: 700; */
/*   font-size: var(--font-size-xs); */
/*   margin-bottom: var(--value-4); */
/* } */
