@import "@sourceface/style/index.css";

.root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--size-lg);
  margin: var(--value-4) var(--value-4) var(--value-16);
}

.copyright {
  margin-top: auto;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  font-weight: 700;
  font-size: var(--font-size-xs);
  margin-bottom: var(--value-4);
}
