@import "~@sourceface/style/index.scss";

.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  padding: $value-4;
}

.title {
  display: block;
  font-weight: 600;
  margin: 0 0 $value-1;
  font-size: $font-size-2xl;
  color: $color-gray-shade-110;
}

.description {
  display: block;
  font-size: $font-size-sm;
  margin: 0 0 $value-6;
  color: $color-gray-shade-50;
}

.copyright {
  margin-top: auto;
  text-align: center;
  font-weight: 700;
  padding-top: $value-4;
  font-size: $font-size-xs;
}

@media (min-width: $break-lg) {
  .root {
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparent;
  }

  .card {
    width: 100%;
    max-width: $size-lg;
    margin-bottom: $value-16;
  }

  .copyright {
    margin-bottom: $value-4;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}
