@import "@sourceface/style/index.css";

.root {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  &:hover .checkbox {
    background-color: var(--color-gray-tint-130);
  }
  &.normal,
  &.loose {
    & .label {
      font-size: var(--font-size-sm);
    }
  }
  &.compact {
    & .checkbox {
      width: var(--value-4);
      height: var(--value-4);
    }
    & .label {
      font-size: var(--font-size-xs);
      margin-left: var(--value-1);
    }
  }
  &.normal {
    & .checkbox {
      width: var(--value-5);
      height: var(--value-5);
    }
    & .label {
      margin-left: var(--value-2);
    }
  }
  &.loose {
    & .checkbox {
      width: var(--value-6);
      height: var(--value-6);
    }
    & .label {
      margin-left: var(--value-3);
    }
  }
  &.disabled {
    cursor: not-allowed;
    & .checkbox {
      background-color: var(--color-gray-tint-110);
    }
  }
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-gray-tint-50);
  border-radius: var(--rounded-sm);
}

input[type="checkbox"] {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  &:checked + .checkbox {
    background-color: var(--color-gray-shade-80);
    border-color: var(--color-gray-shade-80);
    & .icon {
      display: block;
    }
  }
  &:focus + .checkbox {
    box-shadow: 0 0 0 3px var(--color-gray-tint-120);
  }
}

.label {
  user-select: none;
}

.icon {
  display: none;
  fill: var(--color-white);
}
