@import "@sourceface/style/index.css";

.root {
  background-color: $color-white;
  box-shadow: $shadow-sm;
  border: 1px solid $color-gray-tint-90;

  &.compact {
    border-radius: $rounded-sm;
    padding: $value-2;
  }
  &.normal {
    border-radius: $rounded-base;
    padding: $value-4;
  }
  &.loose {
    border-radius: $rounded-md;
    padding: $value-6;
  }
}
