@import "~@sourceface/style/index.scss";

.creators {
  display: flex;
  align-items: center;
}

.groups {
  margin-bottom: $value-2;
  display: flex;
  align-items: center;
  > * {
    margin-right: $value-2;
  }
}

.creators > * {
  margin-right: $value-2;
  &:last-child {
    margin-right: 0;
  }
}
