@import "~@sourceface/style/index.scss";

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -$value-1;
  padding-bottom: $value-1;
  > * {
    margin: $value-1;
  }
  &:last-child {
    padding-bottom: 0;
  }
}
