@import "~@sourceface/style/index.scss";

.root {
  &.normal,
  &.loose {
    .element {
      font-size: $font-size-sm;
    }
  }
  &.compact,
  &.normal {
    .error-text {
      font-size: $font-size-xs;
    }
  }
  &.compact {
    .wrap {
      height: $value-6;
    }
    .element {
      font-size: $font-size-xs;
      padding: 0 $value-1;
    }
    .icon-before,
    .icon-after {
      width: $value-2;
    }
    .icon-before {
      margin-left: $value-2;
    }
    .icon-after {
      margin-right: $value-2;
    }
    .has-icon-before {
      padding-left: $value-6;
    }
    .has-icon-after {
      padding-right: $value-6;
    }
  }
  &.normal {
    .wrap {
      height: $value-8;
    }
    .element {
      padding: 0 $value-2;
    }
    .icon-before,
    .icon-after {
      width: $value-3;
    }
    .icon-before {
      margin-left: $value-3;
    }
    .icon-after {
      margin-right: $value-3;
    }
    .has-icon-before {
      padding-left: $value-8;
    }
    .has-icon-after {
      padding-right: $value-8;
    }
  }
  &.loose {
    .wrap {
      height: $value-10;
    }
    .element {
      padding: 0 $value-3;
    }
    .icon-before,
    .icon-after {
      width: $value-4;
    }
    .icon-before {
      margin-left: $value-4;
    }
    .icon-after {
      margin-right: $value-4;
    }
    .has-icon-before {
      padding-left: $value-10;
    }
    .has-icon-after {
      padding-right: $value-10;
    }
    .error-text {
      font-size: $font-size-sm;
    }
  }
}

.wrap {
  position: relative;
}

.element {
  width: 100%;
  height: 100%;
  background-color: $color-white;
  color: $color-gray-900;
  border-radius: $rounded-base;
  border: 1px solid $color-gray-400;
  &:focus {
    outline: none;
    border-color: $color-gray-500;
    box-shadow: 0 0 0 3px $color-blue-200;
  }
  &::placeholder {
    color: $color-gray-600;
  }
  &.error {
    border-color: $color-gray-400;
    &:focus {
      box-shadow: none;
    }
  }
}

.error-text {
  color: $color-gray-900;
  margin-top: $value-1;
}

.icon-before,
.icon-after {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.icon-before {
  left: 0;
}

.icon-after {
  right: 0;
}
