@import "@sourceface/style/index.css";

.root {
  position: relative;
  &.normal,
  &.loose {
    & .element {
      font-size: var(--font-size-sm);
    }
  }
  &.compact {
    & .element {
      font-size: var(--font-size-xs);
      height: var(--value-6);
      padding: 0 var(--value-1);
    }
    & .icon-before,
    & .icon-after {
      width: var(--value-2);
    }
    & .icon-before {
      margin-left: var(--value-2);
    }
    & .icon-after {
      margin-right: var(--value-2);
    }
    & .has-icon-before {
      padding-left: var(--value-6);
    }
    & .has-icon-after {
      padding-right: var(--value-6);
    }
  }
  &.normal {
    & .element {
      height: var(--value-8);
      padding: 0 var(--value-2);
    }
    & .icon-before,
    & .icon-after {
      width: var(--value-3);
    }
    & .icon-before {
      margin-left: var(--value-3);
    }
    & .icon-after {
      margin-right: var(--value-3);
    }
    & .has-icon-before {
      padding-left: var(--value-8);
    }
    & .has-icon-after {
      padding-right: var(--value-8);
    }
  }
  &.loose {
    & .element {
      height: var(--value-10);
      padding: 0 var(--value-3);
    }
    & .icon-before,
    & .icon-after {
      width: var(--value-4);
    }
    & .icon-before {
      margin-left: var(--value-4);
    }
    & .icon-after {
      margin-right: var(--value-4);
    }
    & .has-icon-before {
      padding-left: var(--value-10);
    }
    & .has-icon-after {
      padding-right: var(--value-10);
    }
  }
}

.element {
  width: 100%;
  background-color: var(--color-gray-tint-130);
  color: var(--color-gray-shade-110);
  border-radius: var(--rounded-base);
  border: 1px solid var(--color-gray-tint-50);
  &:focus {
    background-color: var(--color-white);
    border-color: var(--color-gray-tint-10);
    box-shadow: 0 0 0 3px var(--color-gray-tint-120);
  }
  &::placeholder {
    color: var(--color-gray-shade-30);
  }
  &.error {
    border-color: var(--color-gray-shade-100);
    &:focus {
      box-shadow: none;
    }
  }
}

/* TODO: should consider input size */
.error-text {
  color: var(--color-black);
  font-size: var(--font-size-xs);
  margin-top: var(--value-1);
}

.icon-before,
.icon-after {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.icon-before {
  left: 0;
}

.icon-after {
  right: 0;
}
