@import "@sourceface/style/index.css";

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.root {
  border-right-color: transparent !important;
  animation: rotate 0.75s linear infinite;
  border: 2px solid;
  border-radius: $rounded-full;
  &.compact {
    width: $value-3;
    height: $value-3;
  }
  &.normal {
    width: $value-4;
    height: $value-4;
  }
  &.loose {
    width: $value-5;
    height: $value-5;
  }
}

.light {
  border-color: $color-white;
}

.dark {
  border-color: $color-gray-shade-80;
}
