@import "~@sourceface/style/index.scss";

$border-color: $color-gray-tint-50;
$sizes: "compact" $value-2, "normal" $value-4, "loose" $value-6;

.root {
  &.bordered {
    border: 1px solid $border-color;
    border-radius: $rounded-base;
  }
  @each $name, $spacing in $sizes {
    &.#{$name} {
      .th,
      .td {
        &:not(:first-child, :last-child) {
          padding-left: $spacing;
          padding-right: $spacing;
        }
        &:first-child {
          padding-right: $spacing;
        }
        &:last-child {
          padding-left: $spacing;
        }
      }

      .tr:not(:first-child) {
        padding-top: $spacing;
      }

      .tr:not(:last-child) {
        padding-bottom: $spacing;
      }

      .tbody + .thead,
      .thead + .tbody,
      .tbody + .tbody,
      .thead + .thead {
        margin-top: $spacing;
        padding-top: $spacing;
      }

      &.bordered {
        padding-top: $spacing;
        padding-bottom: $spacing;
        .th,
        .td {
          &:first-child,
          &:last-child {
            padding-left: $spacing;
            padding-right: $spacing;
          }
        }
      }
    }
  }
}

.th {
  font-weight: 600;
}

.tr {
  display: flex;
  border-bottom: 1px solid $border-color;
  &:last-child {
    border-bottom: 0;
  }
}

.th,
.td {
  display: flex;
  align-items: center;
  &.align-left {
    justify-content: flex-start;
  }
  &.align-center {
    justify-content: center;
  }
  &.align-right {
    justify-content: flex-end;
  }
}

.tbody + .thead,
.thead + .tbody,
.tbody + .tbody,
.thead + .thead {
  border-top: 1px solid $border-color;
}
