@import "~@sourceface/style/index.scss";

.root {
  width: $value-56;
  border-radius: $rounded-base;
  background-color: $color-gray-900;
}

.input {
  background-color: transparent;
  width: 100%;
  border: 0;
  color: $color-gray-200;
  padding: $value-2 $value-3;
  &:focus {
    outline: none;
  }
}

.items {
  display: flex;
  flex-direction: column;
  padding: $value-1 0;
}

.item {
  width: 100%;
  cursor: pointer;
  color: $color-gray-200;
  padding: $value-1 $value-3;
  &.selected,
  &:hover {
    background-color: $color-gray-800;
  }
}
