@use "@sourceface/style/index.css";

.root {
  display: flex;
  flex-direction: column;
  line-height: 1;
  color: $color-gray-shade-100;
}

.path {
  font-size: $font-size-xs;
  margin-bottom: $value-1;
}

.link {
  text-decoration: none;
  color: inherit;
  border-radius: $rounded-base;
  &:focus {
    box-shadow: 0 0 0 3px $color-gray-tint-120;
  }
}

.current {
  display: block;
  font-weight: 600;
  font-size: $font-size-lg;
}
