@import "@sourceface/style/index.css";

.root {
  display: flex;
  flex-direction: column;
  line-height: 1;
  color: var(--color-gray-shade-100);
}

.path {
  font-size: var(--font-size-xs);
  margin-bottom: var(--value-1);
}

.link {
  text-decoration: none;
  color: inherit;
  border-radius: var(--rounded-base);
  &:focus {
    box-shadow: 0 0 0 3px var(--color-gray-tint-120);
  }
}

.current {
  display: block;
  font-weight: 600;
  font-size: var(--font-size-lg);
}
