@import "~@sourceface/style/index.scss";

.root {
  display: flex;
  align-items: center;
  line-height: $leading-4;
  margin-left: -$value-2;
  color: $color-gray-500;
}

.link {
  text-decoration: none;
  margin: 0 $value-1;
  padding: $value-1;
  color: $color-gray-900;
  border-radius: $rounded-base;
  &:hover {
    background-color: $color-gray-300;
  }
  &:focus {
    // outline: none;
    // box-shadow: 0 0 0 3px $color-blue-500;
  }
}
