@import "@sourceface/style/index.css";

.root {
  font-weight: 600;
  background: none;
  border: 0;
  cursor: pointer;
  font-size: var(--font-size-sm);
  border-radius: var(--rounded-base);
  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--color-gray-tint-120);
  }
}
