@import "~@sourceface/style/index.scss";

.root {
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  width: $value-48;
  border-radius: $rounded-base;
  box-shadow: $shadow-base;
  border: 1px solid $color-gray-200;
  &.small {
    font-size: $font-size-xs;
    padding: $value-1 0;
    .item {
      padding: 0 $value-2;
      height: $value-6;
    }
  }
  &.regular {
    font-size: $font-size-sm;
    padding: $value-2 0;
    .item {
      padding: 0 $value-3;
      height: $value-8;
    }
  }
}

.item {
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: $color-gray-200;
  }
  &:active {
    background-color: $color-gray-300;
  }
}
