@import "~@sourceface/style/index.scss";

.root {
  position: relative;
  display: inline-flex;
}

.menu {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  z-index: 1;
  background-color: $color-white;
  width: $value-48;
  border-radius: $rounded-base;
  box-shadow: $shadow-md;
  padding: $value-2 0;
  border: 1px solid $color-gray-tint-90;
  &.bottom-left,
  &.bottom-right {
    top: calc(100% + #{$value-2});
  }
  &.top-left,
  &.top-right {
    bottom: calc(100% + #{$value-2});
  }
  &.bottom-left,
  &.top-left {
    left: 0;
  }
  &.bottom-right,
  &.top-right {
    right: 0;
  }
}

.item {
  font-size: $font-size-sm;
  padding: 0 $value-3;
  height: $value-8;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: $color-gray-tint-120;
  }
  &:active {
    background-color: $color-gray-tint-110;
  }
}
