@import "~@sourceface/style/index.scss";

.root {
  // margin: 0 auto;
  // max-width: $size-6xl;
  // padding: $value-3;
}

.title {
  font-weight: 500;
  font-size: $font-size-2xl;
  font-family: $font-montserrat;
}

.panel {
  display: flex;
  margin-top: $value-12;
  margin-bottom: $value-6;
}

.new-order {
  margin-left: auto;
}
