@import "~@sourceface/style/index.scss";

.root {
  box-shadow: $shadow-base;
  padding: 0 $value-4;
  &.light {
    background-color: $color-white;
    color: $color-gray-shade-110;
  }
  &.dark {
    background-color: $color-gray-shade-100;
    color: $color-gray-tint-70;
  }
  &.compact {
    height: $value-12;
  }
  &.normal {
    height: $value-10 + $value-4;
  }
  &.loose {
    height: $value-16;
  }
}
