@use "~@sourceface/style/index.scss";

.item {
  border-bottom: 1px solid $color-gray-tint-50;
  padding: $value-4 0;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}
