@import "~@sourceface/style/index.scss";

.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
  background-color: $color-gray-shade-80;
  border-radius: $rounded-full;
  &.compact {
    width: $value-6;
    height: $value-6;
    font-size: $font-size-base;
  }
  &.normal {
    width: $value-8;
    height: $value-8;
    font-size: $font-size-lg;
  }
  &.loose {
    width: $value-10;
    height: $value-10;
    font-size: $font-size-xl;
  }
}
