@import "~@sourceface/style/index.scss";

.root {
  width: $value-56;
  border-radius: $rounded-base;
  background-color: $color-gray-900;
}

.head {
  display: flex;
  border-bottom: 1px solid $color-gray-800;
}

.input {
  position: relative;
  input {
    background-color: transparent;
    width: 100%;
    border: 0;
    color: $color-gray-200;
    padding: $value-2 $value-3;
    &:focus {
      outline: none;
    }
  }
  &:first-child {
    border-right: 1px solid $color-gray-800;
  }
  &:last-child {
    border-right: 0;
  }
}

.items {
  display: flex;
  flex-direction: column;
  padding: $value-1 0;
}

.item {
  width: 100%;
  cursor: pointer;
  color: $color-gray-200;
  padding: $value-1 $value-3;
  &:hover {
    background-color: $color-gray-800;
  }
}
