@import "~@sourceface/style/index.scss";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
}

body {
  color: $color-gray-900;
  font-family: $font-nunito;
  font-size: $font-size-sm;
  background-color: $color-gray-200;
}
