@import "@sourceface/style/index.css";

.title {
  display: block;
  font-weight: 600;
  margin-bottom: var(--value-1);
  font-size: var(--font-size-2xl);
  color: var(--color-gray-shade-110);
}

.description {
  display: block;
  font-size: var(--font-size-sm);
  margin-bottom: var(--value-6);
  color: var(--color-gray-shade-50);
}
