@import "~@sourceface/style/index.scss";

.root {
  width: 100%;
  height: 100%;
  border-radius: $rounded-sm;
}

.editable {
  &:hover {
    box-shadow: 0 0 0 2px $color-blue-300;
  }
  &.selected {
    box-shadow: 0 0 0 2px $color-blue-500;
  }
}
