@use "@sourceface/style/index.css";

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  &.overlay {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
  }
}

.container {
  width: 100%;
  margin: $value-4;
  background-color: $color-white;
  border-radius: $rounded-base;
  padding: $value-4;
  box-shadow: $shadow-sm;
  &.compact {
    max-width: $size-xs;
  }
  &.normal {
    max-width: $size-lg;
  }
  &.loose {
    max-width: $size-2xl;
  }
}

.row {
  padding-bottom: $value-4;
  &:last-child {
    padding-bottom: 0;
  }
  &.header {
    display: flex;
    align-items: center;
  }
  &.footer {
    display: flex;
  }
}

.title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: $font-size-lg;
  color: $color-gray-shade-120;
}

.header-icon {
  display: flex;
  align-items: center;
  width: $value-5;
  margin-right: $value-2;
}

.close {
  display: flex;
  margin-left: auto;
  cursor: pointer;
  border: 0;
  padding: 0;
  background: none;
  width: $value-6;
  & svg {
    fill: $color-gray-shade-90;
    &:hover {
      fill: $color-gray-shade-120;
    }
  }
  &:focus {
    outline: 0;
    border-radius: $rounded-base;
    box-shadow: 0 0 0 3px $color-gray-tint-120;
  }
}

.actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding-top: $value-2;
}

.action {
  margin-right: $value-2;
  &:last-child {
    margin-right: 0;
  }
}
