@import "~@sourceface/style/index.scss";

.root {
}

.tr {
  border-bottom: 1px solid $color-gray-tint-50;
}

.th {
  font-weight: 600;
}

.tr {
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  display: flex;
  padding: $value-4 0;
  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.th,
.td {
  display: flex;
  align-items: center;
}

.th,
.td {
  &.align-left {
    justify-content: flex-start;
  }
  &.align-center {
    justify-content: center;
  }
  &.align-right {
    justify-content: flex-end;
  }
}

/* .th + .th, */
/* .td + .td { */
/*   padding-left: $value-4; */
/* } */
