@import "~@sourceface/style/index.scss";

.root {
}

.head,
.row {
  border-bottom: 1px solid $color-gray-tint-50;
}

.heading {
  font-weight: 600;
}

.head {
  display: flex;
  padding-bottom: $value-4;
}

.row + .head {
  padding-top: $value-4;
}

.row {
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  display: flex;
  padding: $value-4 0;
  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.heading,
.cell {
  display: flex;
  align-items: center;
}

.heading,
.cell {
  &.align-left {
    justify-content: flex-start;
  }
  &.align-center {
    justify-content: center;
  }
  &.align-right {
    justify-content: flex-end;
  }
}

/* .heading + .heading, */
/* .cell + .cell { */
/*   padding-left: $value-4; */
/* } */
