@use "@sourceface/style/index.css";

.root {
  width: calc($value-10 + $value-4);
  background-color: $color-gray-shade-120;
  padding: 0 $value-2 $value-2;
}

.logo {
  /* margin: 0 calc($value-2) * -1; */
  height: calc($value-10 + $value-4);
  border-bottom: 1px solid $color-gray-shade-90;
  margin-bottom: $value-4;
  /* background-color: $color-gray-shade-130; */
}

.link {
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  height: $value-10;
  border-radius: $rounded-md;
  &:hover {
    background-color: $color-gray-shade-110;
    & svg {
      fill: $color-gray-tint-20;
    }
  }
  &.selected,
  &:active {
    background-color: $color-gray-shade-100;
    & svg {
      fill: $color-gray-tint-50;
    }
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px $color-gray-shade-90;
  }
  & svg {
    fill: $color-gray-shade-10;
    width: $value-5;
  }
}
