@use "@sourceface/style/index.css";

.root {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: $rounded-base;
  font-size: $font-size-sm;
  &:not(:disabled) {
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
  &.full {
    width: 100%;
  }
  /* sizes */
  &.compact {
    font-size: $font-size-xs;
    & .spinner {
      margin-right: $value-1;
    }
  }
  &.normal {
    & .spinner {
      margin-right: $value-2;
    }
  }
  &.loose {
    & .spinner {
      margin-right: $value-3;
    }
  }
  &.primary,
  &.secondary,
  &.tertiary {
    &.compact {
      height: $value-6;
      padding-left: $value-2;
      padding-right: $value-2;
      & .spinner {
        margin-right: $value-1;
      }
    }
    &.normal {
      height: $value-8;
      padding-left: $value-3;
      padding-right: $value-3;
      & .spinner {
        margin-right: $value-2;
      }
    }
    &.loose {
      height: $value-10;
      padding-left: $value-4;
      padding-right: $value-4;
      & .spinner {
        margin-right: $value-3;
      }
    }
  }
  /* appearances */
  &.primary {
    background-color: $color-gray-shade-80;
    color: $color-white;
    &:hover:not(:disabled) {
      background-color: $color-gray-shade-90;
    }
    &:active:not(:disabled) {
      background-color: $color-gray-shade-100;
    }
    &:focus {
      box-shadow: 0 0 0 3px $color-gray-tint-120;
    }
    &.disabled {
      cursor: not-allowed;
      background-color: $color-gray-tint-80;
      color: $color-gray-shade-10;
    }
  }
  &.secondary {
    background-color: $color-white;
    color: $color-gray-shade-60;
    border: 1px solid $color-gray-tint-50;
    &.disabled {
      background-color: $color-gray-tint-120;
    }
  }
  &.tertiary {
    background: none;
    font-weight: 700;
    color: $color-gray-shade-110;
  }
  &.secondary,
  &.tertiary {
    &:hover:not(:disabled) {
      background-color: $color-gray-tint-130;
    }
    &:active:not(:disabled) {
      background-color: $color-gray-tint-120;
    }
    &:focus {
      box-shadow: 0 0 0 3px $color-gray-tint-120;
    }
    &.disabled {
      cursor: not-allowed;
      color: $color-gray-shade-10;
    }
  }
  &.link {
    background: none;
    padding: 0;
    font-weight: 700;
    color: $color-gray-shade-110;
    &:focus {
      box-shadow: 0 0 0 3px $color-gray-tint-120;
    }
    &.disabled {
      cursor: not-allowed;
      color: $color-gray-shade-10;
    }
  }
  &.danger {
  }
}
