@import "@sourceface/style/index.css";

.root {
  display: grid;
  grid-template-columns: auto var(--value-64) 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "nav sidebar header"
    "nav sidebar main";
  height: 100vh;
}

.nav {
  grid-area: nav;
  display: grid;
  grid-template-rows: auto 1fr;
}

.sidebar {
  grid-area: sidebar;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.main {
  grid-area: main;
  padding: var(--value-4);
}

.avatar {
  cursor: pointer;
  background: none;
  padding: 0;
  border: 0;
  border-radius: var(--rounded-full);
  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--color-gray-tint-120);
  }
}
