@import "@sourceface/style/index.css";

:root {
  --panel-size: calc(var(--value-10) + var(--value-4));
}

.root {
  display: grid;
  grid-template-columns: var(--panel-size) var(--value-64) 1fr;
  grid-template-rows: var(--panel-size) 1fr;
  grid-template-areas:
    "nav sidebar header"
    "nav sidebar main";
  height: 100vh;
}

.nav {
  grid-area: nav;
}

.sidebar {
  grid-area: sidebar;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  padding: var(--value-4);
}

.bottom {
  margin-top: auto;
}

.profile {
  margin-left: auto;
}

.avatar {
  cursor: pointer;
  background: none;
  padding: 0;
  border: 0;
  border-radius: var(--rounded-full);
  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--color-gray-tint-120);
  }
}
