@import "~@sourceface/style/index.scss";

.root {
  display: grid;
  grid-template-areas:
    "burger header"
    "main main";
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  height: 100vh;
  background-color: $color-white;
  &.menu-active {
    overflow: hidden;
    grid-template-columns: $value-10 + $value-4 $value-64 auto 100vw;
    grid-template-areas:
      "nav sidebar burger header"
      "nav sidebar main main";
  }
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.nav {
  grid-area: nav;
  display: grid;
  grid-template-rows: auto 1fr;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

.burger {
  grid-area: burger;
}

@media (min-width: $break-lg) {
  .root {
    grid-template-areas:
      "nav header header"
      "nav sidebar main";
    grid-template-columns: auto $value-64 1fr;
    background-color: transparent;
  }

  .main {
    padding: $value-4;
  }
}
