@import "~@sourceface/style/index.scss";

.root {
  display: grid;
  grid-template-areas:
    "burger header"
    "main main";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  background-color: $color-white;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.main {
  grid-area: main;
}

.burger {
  grid-area: burger;
}

.avatar {
  cursor: pointer;
  background: none;
  padding: 0;
  border: 0;
  border-radius: $rounded-full;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px $color-gray-tint-120;
  }
}

@media (min-width: $break-lg) {
  .root {
    grid-template-areas:
      "nav sidebar header"
      "nav sidebar main";
    grid-template-columns: auto $value-64 1fr;
    background-color: transparent;
  }

  .nav {
    grid-area: nav;
    display: grid;
    grid-template-rows: auto 1fr;
  }

  .sidebar {
    grid-area: sidebar;
  }

  .main {
    padding: $value-4;
  }
}
