@import "@sourceface/style/index.css";

.root {
  display: flex;
  height: 100vh;
}

.main {
  flex: 1;
}

.content {
  padding: var(--value-4);
}

.bottom {
  margin-top: auto;
}

.profile {
  margin-left: auto;
}

.avatar {
  cursor: pointer;
  background: none;
  padding: 0;
  border: 0;
  border-radius: var(--rounded-full);
  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--color-gray-tint-120);
  }
}
