@import "~@sourceface/style/index.scss";

.root {
  border-radius: $rounded-base;
  background-color: $color-white;
  padding: $value-4;
  // temp
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  //
}
