@import "~@sourceface/style/index.scss";

.root {
  display: flex;
  flex-direction: column;
  color: $color-gray;
  margin-top: $value-1;
  font-size: $font-size-xs;
}

.completed {
  text-decoration: line-through;
}
