@import "@sourceface/style/index.css";

.root {
  height: 100%;
  display: flex;
}

.logo {
  /* margin: 0 calc(var(--value-2) * -1); */
  height: calc(var(--value-10) + var(--value-4));
  border-bottom: 1px solid var(--color-gray-shade-90);
  margin-bottom: var(--value-4);
  /* background-color: var(--color-gray-shade-130); */
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: calc(var(--value-10) + var(--value-4));
  background-color: var(--color-gray-shade-120);
  padding: 0 var(--value-2) var(--value-2);
}

.nav-link {
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--value-10);
  border-radius: var(--rounded-md);
  &:hover {
    background-color: var(--color-gray-shade-110);
    & svg {
      fill: var(--color-gray-tint-20);
    }
  }
  &.active,
  &:active {
    background-color: var(--color-gray-shade-100);
    & svg {
      fill: var(--color-gray-tint-50);
    }
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--color-gray-shade-90);
  }
  & svg {
    fill: var(--color-gray-shade-10);
    width: var(--value-5);
  }
}

.bottom {
  margin-top: auto;
}

.menu {
  padding: var(--value-2) var(--value-4);
  width: var(--value-64);
  background-color: var(--color-gray-shade-110);
}

.menu-title {
  display: flex;
  align-items: center;
  margin-bottom: -1px;
  height: calc(var(--value-10) + var(--value-2));
  margin-bottom: var(--value-4);
  color: var(--color-white);
  font-size: var(--font-size-xl);
  border-bottom: 1px solid var(--color-gray-shade-90);
}

.menu-list {
  margin-left: calc(var(--value-2) * -1);
}

.menu-icon {
  width: var(--value-4);
  margin-right: var(--value-2);
  fill: var(--color-gray-shade-10);
}

.menu-link {
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 0 var(--value-2);
  color: var(--color-gray-tint-100);
  border-radius: var(--rounded-md);
  display: flex;
  align-items: center;
  height: var(--value-10);
  &:hover {
    background-color: var(--color-gray-shade-100);
    & .menu-icon {
      fill: var(--color-gray-tint-20);
    }
  }
  &.active,
  &:active {
    background-color: var(--color-gray-shade-120);
    & .menu-icon {
      fill: var(--color-gray-tint-50);
    }
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--color-gray-shade-90);
  }
}
