@import "~@sourceface/style/index.scss";

.root {
  height: 100%;
}

.footer {
  display: flex;
  align-items: center;
}

.pagination {
  margin-left: auto;
}

.pagination-info {
  color: $color-gray-800;
}

.pagination-info > span {
  font-weight: 600;
}
