@import "~@sourceface/style/index.scss";

.root {
  height: 100%;
}

.footer {
  display: flex;
  align-items: center;
}

.pagination {
  margin-left: auto;
}

.pagination-info {
  color: $color-gray-800;
}

.pagination-info > span {
  font-weight: 600;
}

.more {
  padding: 0 $value-4 0 0 !important;
  svg {
    width: $value-6;
    padding: $value-1;
    border-radius: $rounded-full;
    display: flex;
    cursor: pointer;
    &:hover {
      background-color: $color-gray-200;
    }
  }
}
