@import "@sourceface/style/index.css";

.root {
  padding: var(--value-2) var(--value-4);
  background-color: var(--color-white);
  box-shadow: var(--shadow-base);
}

.wrap {
  display: flex;
  align-items: center;
  height: var(--value-10);
}

.profile {
  margin-left: auto;
}

.avatar {
  cursor: pointer;
  background: none;
  padding: 0;
  border: 0;
  border-radius: var(--rounded-full);
  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--color-gray-tint-120);
  }
}
